@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 180px 1fr;
  grid-template-columns: minmax(200px, 1fr) 5fr;
}

.sidebar {
  background-color: #1992d4;
  grid-row: span 2;
}

.header {
  background-color: white;
}

.main {
  background-color: #e2e8f0;
}
