@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  text-decoration: none;
  list-style-type: none;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(200px, 1fr) 5fr;
}

/* SIDEBAR */

.sidebar {
  background-color: #1992d4;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
  padding: 15px;
}

.sidebar * {
  color: white;
  font-weight: bold;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar a {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.sidebar img {
  height: 1.1rem;
  filter: invert(1);
}

.sidebar #nav-banner * {
  font-size: 16pt;
}

.sidebar #nav-banner a {
  gap: 10px;
}

.sidebar #nav-banner img {
  height: 2.2rem;
}

.sidebar ul:not(#nav-banner) {
  margin-left: 9px;
}

/* HEADER */

.header {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  font-weight: bold;
  padding: 15px 40px;
}

.header #header-top-row {
  display: flex;
  justify-content: space-between;
  gap: 150px;
}

.header #header-top-row .icon {
  height: 1.4rem;
}

.header #header-search {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header #header-search a {
  display: flex;
  align-items: center;
}

.header #header-search input {
  flex-grow: 1;
  height: 1.7rem;
  background-color: #E2E8F0;
  border: none;
  border-radius: 15px;
  padding: 0 15px;
  outline-color: lightgrey;
  outline-width: 0.5pt;
  outline-offset: -1px;
}

.header #header-nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header #header-nav a {
  color: black
}

.header #header-nav .profile-picture {
  height: 2.75rem;
}

.header #header-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header #header-main {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header #header-main img {
  height: 4rem;
}

.header .header-greeting {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.header .header-greeting p {
  font-size: 0.8rem;
}

.header .header-greeting h1 {
  font-size: 1.1rem;
}

.header #header-buttons {
  display: flex;
  gap: 20px;
}

.header #header-buttons a {
  background-color: #1992d4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  font-size: 0.9rem;
}

/* MAIN */

.main {
  background-color: #e2e8f0;
  display: flex;
  gap: 25px;
  padding: 40px 25px;
}

.main .icon {
  height: 1.2rem;
}

.main h1 {
  font-size: 1.2rem;
}

.main p {
  color: rgb(95, 95, 95);
}

.card {
  background-color: white;
  padding: 35px 30px 25px;
  border-radius: 10px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-list {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, 200px);
  gap: 25px;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-left: 6px solid #f0b429;
  /* max-height: 200px; */
}

.project-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-buttons {
  align-self: flex-end;
  display: flex;
  gap: 20px;
}

.aside {
  flex-grow: 0;
  flex-basis: 600px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.announcements {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.announcement-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.announcements hr {
  border-color: #E2E8F0;
  border-style: solid;
}

.announcement-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.announcement-item h2 {
  font-size: 0.9rem;
}

.announcement-item p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  font-size: 0.8rem;
}

.trending {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.trending img {
  height: 2.75rem;
}

.trending-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
}

.trending-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.trending-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.trending-tag {
  font-weight: normal;
}
