@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  text-decoration: none;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 180px 1fr;
  grid-template-columns: minmax(200px, 1fr) 5fr;
}

.sidebar {
  background-color: #1992d4;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
  padding: 15px;
}

.sidebar * {
  color: white;
  font-weight: bold;
  list-style-type: none;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar a {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.sidebar img {
  height: 1.1rem;
  filter: invert(1);
}

.sidebar #nav-banner * {
  font-size: 16pt;
}

.sidebar #nav-banner a {
  gap: 10px;
}

.sidebar #nav-banner img {
  height: 2.2rem;
}

.sidebar ul:not(#nav-banner) {
  margin-left: 9px;
}

.header {
  background-color: white;
}

.main {
  background-color: #e2e8f0;
}
